@font-face {
  font-family: 'Manrope';
  src: static/
    url('/static/fonts/Manrope-VariableFont_wght.woff') format('woff');
  font-weight: 200 800; 
  font-style: normal;
  font-display: swap;  
}


html, body {
  min-width: 360px;
}
body {
  padding-top: 70px;
  margin: 0;
  font-family: 'Manrope';
  color: #626262;
  font-size: 14px;
  background-color: #fafafa;
}

section {
  padding: 10px 0;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.navbar {
  background-color: #174a90;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav li {
  margin: 0 10px;
  display: flex;
  align-items: center;
}

.main-nav li a, .user-nav li a, .user-nav li p {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  transition: color 0.3s;
  margin: 0;
  padding: 5px 0;
}

.main-nav li a:hover, .user-nav li a:hover {
  color: #d4d4d4;
}

.user-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}
.user-nav  li {
  margin: 0 10px;
  display: flex;
  align-items: center;
}
#page-auth {
  min-height: 100vh;
  height: 500px;
  padding: 0 30px;
}

#page-auth > .page-wrapper {
  min-height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#page-auth > .footer {
  margin-top: -70px;
}

#page-auth .logo-wrapper,
#page-auth .form-auth {
  width: 310px;
  margin-left: auto;
  margin-right: auto;
}

#page-auth .logo-wrapper {
  margin-bottom: 1px;
}

.logo {
  display: block;
  background: url(/static/images/logo.png) 0 50% no-repeat;
  width: 160px;
  height: 100px;
}

.form-auth .form-auth-submit {
  margin-top: 40px;
}

.form-auth .form-control {
  height: 45px;
  border-bottom-width: 1px;
}

.btn_reset_password {
  font-size: 12px;
  display: block;
  font-weight: 100;
  text-decoration: underline;
  color: black;
  text-align: right;
}

.btn_reset_password:hover {
  color: #48b0f7;
}

.footer {
  padding-top: 20px;
  font-size: 14px;
  color: #524545;
  position: relative;
  text-align: center;
}

.auth_label{
  margin: 15px 0 3px 0;
  color: #174a90;
}

